.DS_Store
Thumbs.db
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
venv/
.env/
.venv/
data/
*.csv
*.zip
*.h5
*.ckpt
logs/
checkpoints/
tensorboard_logs/
*.submission.csv
*.db
optuna_study/
*.tmp
*.log
*.swp
